.weather-container {
  width: 100%;
  height: 80%;
  padding-top: 5px;
  display: grid;

  justify-content: stretch;
  align-items: stretch;

  grid-template-columns: repeat(6, 1fr);
}

.weather-item {
  display: grid;
  text-align: center;
}
